body {
    overflow: auto;
}
#calendar {
    width: 100%;
}
.no-margin-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    //min-width: 1200px;
    width: 1300px;
}
span.card-item {
    color: white;
}

#tpl-wrap {
    margin: auto;
}

.box-wrap .item-wrap {
    min-height: 24px;
}

#tpl-wrap .box-wrap {
    line-height: 2;
}

.fc-event .fc-bg {
    /*background-color: transparent;*/
    opacity: 0.2;
}

#tpl-wrap .fc-event, .fc-event-dot {
    background-color: #3b91ad;
}

/*        #calendar .fc-timeline-event {
            height: 100%;
            min-height: 200px;
        }*/

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.item-wrap > .card-item {
    /*background-color: #9d9d9d;*/
    background-color: #5e5e5e6b;
    padding: 2px 2px;
    margin: 2px 2px;
}

.item-wrap > .card-item.inspector-item {
    background-color: #e6dcdc7d;
    color: black;
}
.item-wrap.log{
    text-overflow: ellipsis;
    overflow: hidden;
}
.item-wrap.log span {
    word-break: break-all;
    white-space: nowrap; //不换行
}

.box-wrap > div {
    text-align: center;

}

/*除了最后一个，加点线*/
.box-wrap > div:not(.class-desc) {
    margin-bottom: 5px;
    border-bottom: 1px #ddd dashed;
    padding-bottom: 5px;
}

/*时间块里面文字自动换行*/
.fc-timeline-event .fc-content {
    white-space: normal;
    line-height: 2;

}
#calendar .fc-timeline-event.fc-event{
    /*height: 100%;
    box-sizing: border-box;*/
}

/*人名不分行*/
.fc-timeline-event .fc-content span.card-item {
    /*word-break: keep-all;*/
}

#delete-box, #test-box {
    height: 200px;
    background-color: #9d9d9d;
    line-height: 200px;
    text-align: center
}

.ui-state-highlight {
    background-color: #1b6d85;
}

.ui-state-hover {
    background-color: red;
}

.ui-state-active {
    background-color: orange;
}

.fc-chrono .fc-cell-content.border-bottom {
    border-bottom: 1px solid #ddd;
}

.fc-ltr .fc-time-area .fc-chrono th {
    text-align: center;
}

.margin-top {
    /*margin-top: 50px;*/
    min-height: 50px;
}

.tpl-hide {
    display: none;
}

/*外部模板*/
#table0-toolbar {
    margin-bottom: 4px;
}

.external-event-box .fc-content.fc-event {
    padding: 5px 0;
    margin-bottom: 10px;
}
.fc-toggleClickMode-button{
    letter-spacing: 0.1rem;
    text-shadow: none;
}
.fc-toggleClickMode-button.orange-theme.active {
    background-image: none;
    background-color: #5cb85c;
    color: #fff;
    letter-spacing: 0.1rem;
    text-shadow: none;
}

.user-help {
    color: darkorange;
    color: dodgerblue;
}
.time-notice {
    position: absolute;
    top: 0;
    left: 5px;
    color: mediumvioletred;
    font-size: 14px;
}
.white-tip.layui-layer-tips .layui-layer-content{
    color: black;
}
.white-tip.layui-layer-tips{
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    border: 1px solid #ccc;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

/*取消按钮的边框*/
.fc-toggleClickMode-button:focus{
    outline:none;

}
/*删除模板按钮*/
.cancel-tpl:hover {
    color: red;
    cursor: pointer;
}


.calendar-tool .btn-group .search-input {
    border-radius: 3px;
    border: 1px solid #1c84c6;
    border-right: 0 solid #1c84c6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.calendar-tool .btn-group .date-control{
    margin-bottom: 0;
}
.table-tool-btn, .dropdown-toggle.btn {
    height: 28px;
    padding: 0 8px;
}
.fix-to-top.left-section {
    position: fixed;
    top:0;
    z-index: 2;
}

.left-section .ibox-content {
    height: 600px;
    overflow: visible;
}

::-webkit-scrollbar
{
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
}
.left-cover {
    display: none;
}
.left-cover-active {
    display: block;
    position: fixed;
    height: 5000px;
    width: 200px;
    z-index: 998;
    background-color: #000;
    opacity: 0.3;
}